###  CHAPTER 04 -  FUNCTIONS AND LOOPS

### 4.1   3 types of Functions:

- **Predefined Functions/Builtin functions**- which will get automatically installed into your local machine when we install anaconda navigator.

- **Userdefined functions**- user given functions, according to his own preferences - it is customizable function.

- **Anonymous functions**  - it is a nameless function, which is used for accomplish one operation at once.

#### USER DEFINED FUNCTION
*** IT IS A TWO STEP FUNCTION
-  STEP 01: define your function
-  STEP 02: call your function

In [1]:
def get_details():
    print("WELCOME TO FIRST FUNCTION!!")
    print("THANKS!!:)")

In [2]:
get_details()

WELCOME TO FIRST FUNCTION!!
THANKS!!:)

In [3]:
def get_learner_details(name,age): # arguments
    print('NAME:',name)
    print('AGE:', age)

# when we are calling the function we send the parameters. and these parameters are stored inside def and called as arguments.
# Number of parameters should be equal to number of arguments

In [4]:
get_learner_details('anudeep',30) # parameters

NAME: anudeep
AGE: 30

###  positional arguments

In [5]:

def get_learner_details(name,age,company): # arguments
    print('NAME:',name)
    print('AGE:', age)
    print("COMPANY",company)

In [6]:
get_learner_details('riya',22,'IBM')

NAME: riya
AGE: 22
COMPANY IBM

In [7]:
get_learner_details('reta',25,'google')

NAME: reta
AGE: 25
COMPANY google

### default argument

In [8]:

def get_learner_details2(name,age,company='GOOGLE'): # arguments
    print('***********************************')
    print('NAME:',name)
    print('AGE:', age)
    print("COMPANY",company)
    print('***********************************')

In [9]:
get_learner_details2('kushi',24)

***********************************
NAME: kushi
AGE: 24
COMPANY GOOGLE
***********************************

In [10]:
get_learner_details2('arnav',28)

***********************************
NAME: arnav
AGE: 28
COMPANY GOOGLE
***********************************

### variable length argument: The parameters can be of different numbers

In [11]:
def get_learner_details3(name,age,*company):
    print('***********************************')
    print('NAME:',name)
    print('AGE:', age)
    print("COMPANY",company)
    print('***********************************')

In [12]:
get_learner_details3('Haritha',23,'google','ibm','dell')

***********************************
NAME: Haritha
AGE: 23
COMPANY ('google', 'ibm', 'dell')
***********************************

###  keyword arguments

In [13]:
def get_learner_details4(name,age,**company):
    print('***********************************')
    print('NAME:',name)
    print('AGE:', age)
    print("COMPANY",company)
    print('***********************************')

In [14]:
get_learner_details4('Haritha',23,company_1='google',company_2='ibm',company_3='dell')

***********************************
NAME: Haritha
AGE: 23
COMPANY {'company_1': 'google', 'company_2': 'ibm', 'company_3': 'dell'}
***********************************

###  variable length and key word arguments

In [15]:
def get_learner_details5(age,*name,**company):
    print('***********************************')
    print('NAME:',name)
    print('AGE:', age)
    print("COMPANY",company)
    print('***********************************')

In [16]:
get_learner_details5(25,'akash','arnav',company_1='google',company_2='ibm',company_3='dell')

***********************************
NAME: ('akash', 'arnav')
AGE: 25
COMPANY {'company_1': 'google', 'company_2': 'ibm', 'company_3': 'dell'}
***********************************

### NOTE:

In [17]:
def sum_numbers(num1,num2):
    print(num1)
    print(num2)
    return num1+num2 # return acts as a termination point and a function can have only 1 return statement.

In [18]:
sum_numbers(50,30)

50
30

80

### 4.2 RUN IN CIRCLES

In [19]:
range(1, 11)

range(1, 11)

In [20]:
for i in range(1,11):
    print(i)

1
2
3
4
5
6
7
8
9
10

In [21]:
for i in range(1,11,2):
    print(i)

1
3
5
7
9

### 4.3 task-  create a user defined function with for loop

In [22]:
def multiplication_of_numbers():
    for i in range(1,5):
        print(i)
    return(i*i+1)

In [23]:
multiplication_of_numbers()

1
2
3
4

17

In [24]:
def user_input():
    for i in range(1,10,2):
        print(i+1)
    return(i*i)

In [25]:
user_input()

2
4
6
8
10

81

In [26]:
def get_name(name):
    for i in name:
        print(i)
    return ("FUNCTION ENDED")

In [27]:
get_name('VINAY')

V
I
N
A
Y

'FUNCTION ENDED'

## CONDITIONAL LOGICS

### 5.1 COMPARE VALUES

In [28]:
5 == '5' # equal to operator

False

In [30]:
5 = 5

SyntaxError: cannot assign to literal (Temp/ipykernel_12448/3619573732.py, line 1)

In [31]:
'A' != 'B' # not equal to operator

True

In [32]:
5/2  # quotient

2.5

In [33]:
5%2 # remainder

1

In [34]:
5%2 == 0

False

###  5.2 ADD SOME LOGICS

### >>>>> Different Operators in Python <<<<<<<<<<

##### AND Operator - will return True, only if both conditions is True.
##### OR Operator - will return True if anyone condition is True.
##### IN operator - we use to check if that particular word is available in my data.
##### NOT IN operator - we use to check if that particular word is not available in my data.


https://www.geeksforgeeks.org/python-programming-examples/

In [35]:
machine_learning = 95
deep_learning =100
nlp = 98

In [36]:
machine_learning>deep_learning

False

In [37]:
deep_learning>nlp

True

In [38]:
deep_learning<nlp

False

In [39]:
machine_learning>deep_learning and deep_learning<nlp

False

In [40]:
machine_learning>deep_learning and deep_learning>

SyntaxError: invalid syntax (Temp/ipykernel_12448/2819626694.py, line 1)

In [41]:
machine_learning<deep_learning and deep_learning>nlp

True

In [42]:
machine_learning<deep_learning or deep_learning>nlp

True

In [43]:
machine_learning>deep_learning or deep_learning>nlp

True

In [44]:
machine_learning>deep_learning or deep_learning<nlp

False

In [45]:
feedback = 'pytho is bit intresting and challenging'

In [46]:
'intresting' in feedback

True

In [47]:
'challenging' not in feedback

False

### 5.3  CONTROL THE FLOW OF PROGRAM

In [50]:
get_user_password=input("enter the password")

if len(get_user_password)<5:
    print('WEEK PASSWORD')
else:
    print("STRONG PASSWORD")

enter the passwordalpha
STRONG PASSWORD

In [49]:
get_user_password=input("enter the password:")

if len(get_user_password)<5:
    print('WEEK PASSWORD')
elif 5<=len(get_user_password)<=10:
    print("MODERATE PASSWORD")
else:
    print("STRONG PASSWORD")

enter the password:aRJUN@01
MODERATE PASSWORD

### 5.4 CHALLENGE TO FIND FACTORS OF A NUMBER

In [51]:
#1. GET INPUT FROM USER
#2. USER ENTERS= 10,THE FACTORS OF NUMBERS ARE 1,2,5,10

In [52]:
user_input=int(input("enter a number to find factors:"))

for i in range(1,user_input+1):
    if user_input%i==0:
        print(i)

enter a number to find factors:10
1
2
5
10

### 5.5 BREAK OUT OF PATTERN

In [53]:
while True:
    user_input= input('type q to ext this window:')

    if user_input == 'q':
        break

type q to ext this window:t
type q to ext this window:d
type q to ext this window:F
type q to ext this window:K
type q to ext this window:L
type q to ext this window:Q
type q to ext this window:q

In [54]:
while True:
    user_input= input('type q to ext this window:')

    if user_input.lower() == 'q':
        break

type q to ext this window:s
type q to ext this window:O
type q to ext this window:s
type q to ext this window:Q

In [55]:
for i in range(1,10):
    if i==5:
        continue  # skips the particular condition and contiues further
    print(i)

1
2
3
4
6
7
8
9

In [56]:
for i in range(1,10):
    if i==5:
        break  # condition satisfied loop will break
    print(i)

1
2
3
4